<% totalPrice=0 %>
<%@order.items.each do |i| %>
Title: <%= i.product.title %>
Quantity: <%= i.quantity %>
Price: <%= i.price %>
<% totalPrice+=i.price %>

<%end%>
<div><%= @order.total_price %> Rs</div>

