<br>
<div class="slideshow-container">

<div class="mySlides fade">
  <%= image_tag 'pic2.jpg', :class => "sliderImage" %>
    <div class="text1">Find Your Recipes</div>

</div>

<div class="mySlides fade">
  <%= image_tag 'pic4.jpg', :class => "sliderImage" %>
    <div class="text2">Buy Your Products</div>

</div>



<div class="mySlides fade">
  <%= image_tag 'pic10.jpg', :class => "sliderImage" %>
    <div class="text3">Search for Your Item</div>

</div>
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 


  
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");

    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    //debugger;
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
<br>
<br>
<br>