<div class="form_center">
<h1>Gluten Search</h1>
        <form id="gluten">
            <input type=text id=search placeholder="search">
        </form>
   
    <div class=continer>
        <%# <h2>you should search for somthing </h2> %>

    </div>
    <br>
    <br>
    <br>
    </div>